@import "../main/vars.scss";

.blog{
    text-align: center;

    &__descript{
        font-size: 21px;
        padding-top: 110px;
        padding-bottom: 25px;

    }
    &__title{
        font-family: $secondary-font;
        font-size: 30px;
        padding-bottom: 60px;

    }
    &__items{
        display: flex;        
        justify-content: space-between;
        align-items: center;
             

    }
    &__button{
        background: $primary-color;
        border: 1px solid #FFFFFF;
        padding: 15px 47px;
        font-size: 18px;
        font-family: $primary-font;
        text-transform: uppercase;
        color: $secondary-color;
        margin-top: 55px;
        margin-bottom: 120px;
    }
    &__button:hover{
        background: $secondary-color;
        border: 1px solid $primary-color;
        color: $primary-color;
        font-weight: bold;
    }
}