@import "../main/vars.scss";

.catalog__card{
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(.jpg);
    }
    &:hover{
        opacity: 0.5;
    }
}
.catalog__img{
    width: 100%;
}
.catalog__text{
    position: absolute;
    font-size: 24px;
    color: $secondary-color;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);    
}