@import "../main/vars.scss";

.catalog__link{
    text-align: center;
    font-size: 21px;
    padding-top: 100px;
    padding-bottom: 15px;    
}
@media(max-width: 991px){
    .catalog__link{
        font-size: 18px;
        padding-top: 60px;
        padding-bottom: 10px;    
    }
}
@media(max-width: 575px){
    .catalog__link{
        font-size: 16px;
        padding-top: 60px;
        padding-bottom: 10px;      
    }
}
.catalog__tagline{
    text-align: center;
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 60px;   
}
@media(max-width: 991px){
    .catalog__tagline{
        font-size: 25px;
        padding-bottom: 50px;    
    }
}
@media(max-width: 575px){
    .catalog__tagline{
        font-size: 18px;
        padding-bottom: 20px;      
    }
}
.catalog__menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.catalog__item{
    position: relative;
    border: 1px solid #D6D6D6;
    background-color: #f9f9f9;
    width: 165px;
    height: 55px;
    font-weight: bold;
    transition: all 0.4s;    
}
@media(max-width: 991px){
    .catalog__item{
        font-size: 16px;           
    }
}
@media(max-width: 575px){
    .catalog__item{
        font-size: 14px;              
    }
}
.catalog__item span{
    position: relative;
    z-index: 3;
    transition: all 0.4s;    
}
@media(max-width: 991px){
    .catalog__item span{
        font-size: 14px;           
    }
}
@media(max-width: 575px){
    .catalog__item span{
        font-size: 12px;              
    }
}
.catalog__item:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid  #D6D6D6;
    z-index: -1;
}
.catalog__item:hover{
    transform: translate(5px, 5px);
    background: #333333;
    color: $secondary-color;    
}
.catalog__galery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 25px 25px;
    margin-bottom: 120px;
    text-align: center;
}
@media(max-width: 991px){
    .catalog__galery{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px 10px;
        margin-bottom: 80px;;           
    }
}
@media(max-width: 575px){
    .catalog__galery{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px 10px;
        margin-bottom: 80px;;              
    }
}

