@import "../main/vars.scss";

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 80px;

    &__column{
    display: flex;
    flex-direction: column;
    max-width: 23%;
    flex: 1 0 23%;
    align-items: stretch;
    text-align: left;          
       
        @media(max-width: 991px){
            font-size: 14px;
            margin-bottom: 15px;         
        }
        @media(max-width: 575px){
            font-size: 12px;  
            margin-bottom: 15px;         
        }
        @media(max-width: 426px){
            flex-wrap: wrap;
            max-width: 100%;
            flex: 1 0 100%;    
            margin-bottom: 25px;   
        }
    }
}
.column__title{
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-color;
    font-weight: 500;
    margin-bottom: 15px;

    @media(max-width: 991px){
        font-size: 14px;
        margin-bottom: 15px;         
    }
    @media(max-width: 575px){
        font-size: 12px;  
        margin-bottom: 15px;         
    }
    @media(max-width: 426px){
        margin-bottom: 5px;      
    }
}
.column__link{
    font-family: $primary-font;
    font-size: 14px;
    color: $primary-color;
    line-height: 220%;

    @media(max-width: 991px){
        font-size: 12px;
        line-height: 190%;
    }
    @media(max-width: 575px){
        font-size: 10px;
        line-height: 170%;       
    }
}
.column__link:hover{
    font-weight: bold;
}
.column__text{
    font-size: 14px;
    line-height: 150%;

    @media(max-width: 991px){
        font-size: 12px;
        line-height: 150%;
    }
    @media(max-width: 575px){
        font-size: 10px;
        line-height: 150%;       
    }
}
.column__cards{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.column__payment{
    max-width: 17%;        
    margin-right: 10px;

    @media(max-width: 991px){
        font-size: 12px;
        line-height: 190%;
    }
    @media(max-width: 575px){
        font-size: 10px;
        line-height: 170%;       
    }
    @media(max-width: 426px){
        max-width: 8%;      
    }
}
.column__contact{
    font-family: $primary-font;
    font-size: 14px;
    color: $primary-color;
    line-height: 230%;
    position: relative;
    padding-left: 45px;

    @media(max-width: 991px){
        font-size: 12px;
        line-height: 190%;
    }
    @media(max-width: 575px){
        font-size: 10px;
        line-height: 170%;               
    }
    @media(max-width: 426px){
        font-size: 10px;
        line-height: 170%;  
        padding-left: 35px;             
    }
}
.column__contact:hover{
    font-weight: bold;
}
.column__contact::before{
    content: url('../imgs/phone.svg');
    position: absolute;
    left: 10px;
    top: 2px; 

    @media(max-width: 426px){
        content: "";
        position: absolute;
        background-image: url('../imgs/phone.svg'); 
        height: 60%; 
        width: 60%;
        background-repeat: no-repeat;
        background-size: contain;              
    }    
}
.column__contact:last-child:before{
    content: url('../imgs/letter.svg');
    position: absolute;
    left: 10px;
    top: 2px;

    @media(max-width: 426px){
        content: "";
        position: absolute;
        background-image: url('../imgs/letter.svg'); 
        height: 50%; 
        width: 50%;
        background-repeat: no-repeat;
        background-size: contain;              
    }
}
.footer__media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    max-width: 80%; 

    @media(max-width: 426px){    
        max-width: 30%;      
    } 
}
.column__medialink img{
    transition: transform 0.4 ease;

    @media(max-width: 991px){
        max-width: 90%;
    }
    @media(max-width: 575px){    
        max-width: 80%;      
    }
}
.column__medialink:hover{
    transform: scale(1.5);
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-family: $primary-font;
    font-size: 14px;
    border-top: 1px solid $primary-color;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 20px;

    & a{
        color: $primary-color;        
    }
    & a:hover{
        font-weight: bold;
    }
    & a:last-child{
        font-weight: bold;
        text-decoration: underline;
    }
    & a:last-child:hover{
        color: red;
    }
    @media(max-width: 991px){
        font-size: 12px;
    }
    @media(max-width: 575px){
        font-size: 10px;             
    }
    @media(max-width: 426px){
        font-size: 10px; 
        margin-top: 0px;   
        flex-direction: column; 
        align-items: flex-start; 
        line-height: 170%;       
    }
}


