.background{
    background: url("../imgs/blackbgd1.png") center/cover no-repeat;
}
.salons{
    text-align: center;

    &__question{
        color: $secondary-color;
        font-size: 21px;
        padding-top: 100px;
        padding-bottom: 20px;

    }
    &__tagline{
        font-family: $secondary-font;
        color: $secondary-color;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 40px;

    }
    &__text{
        color: $secondary-color;
        padding: 0 185px;
        line-height: 25px;

    }
    &__button{
        padding: 15px 42px;
        background-color: #FFFFFF;
        border: none; 
        color: $primary-color;   
        margin-top: 60px;  
        margin-bottom: 100px;
        font-weight: bold;
    }
    &__button:hover{
        background: #f2f2f2f2;

    }
}