include ../mixins/blog-card

.container.blog
    h4.blog__descript Полезные статьи
    h2.blog__title Лучшие советы по подбору дорогих подарков
    .blog__items 
    +blog-card("./assets/imgs/hands.png","Как выбрать часы для своей будущей жены")
    +blog-card("./assets/imgs/braslett.png", "Запонки для мужа: 7 ключевых правил покупки аксессуара")
    +blog-card("./assets/imgs/books.png", "Как выбрать обручальные кольца молодоженам")
    button.blog__button читать наш блог
