.container 
    .footer 
        .footer__column 
            h4 
            p 
            p 
            p 
            p 
        .footer__column 
            h4 
            img(src="", alt="")
            img(src="", alt="")
        .footer__column 
            h4 
            p 
            p 
            p 
        .footer__column 
            h4 
            p 
            .footer_media 
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
    .footer__bottom 
        p 
        p 
        p 
        p


