.background 
    .container.form 
        h4.form__info Полезные советы и персональные предложения
        h2.form__title Эксклюзивная рассылка
        .form__section
            .form__list 
                p.form__line Личный менеджер
                p.form__line Доставка и оформление
                p.form__line Индивидуальный дизайн
            form.form__field
                input(type="text" placeholder="ваш e-mail").form__input
                button(type="submit").form__button отправить

