.container.media
    h4.media__tag #ojjo_jewerly
    h2.media__title Мы в социальных сетях
    .media__links 
        a(href="http://www.youtube.com" target="_blank").media__link
            img(src="./assets/imgs/videorings.png", alt="video")
        a(href="http://www.instagram.com" target="_blank").media__link
            img(src="./assets/imgs/galleryglasses.png", alt="glasses")
        a(href="http://www.instagram.com" target="_blank").media__link
            img(src="./assets/imgs/gallerydiamond.png", alt="diamond")
        a(href="http://www.instagram.com" target="_blank").media__link
            img(src="./assets/imgs/galleryring.png", alt="ring")
        a(href="http://www.instagram.com" target="_blank").media__link
            img(src="./assets/imgs/gallerywatch.png", alt="watch")
        a(href="http://www.youtube.com" target="_blank").media__link
            img(src="./assets/imgs/videohands.png", alt="rings")

