.background 
    .container
        .salons
            h4.salons__question Не знаете, что выбрать?
            h2.salons__tagline Посетите наши салоны в Москве
            p.salons__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi libero viverra ipsum.
            button.salons__button НАШИ САЛОНЫ
