header.header    
    .container 
        .header__row 
            .header__links 
                a(href="#") Контрагентам
                a(href="#") Дизайнерам
                a(href="#") Вакансии
            a.header__logo(href="intex.html") 
                img(src="./assets/imgs/logoojjo.svg", alt="ojjo")
            .header__interactive 
                form.header__form
                    input.header__input(type="search" placeholder="Поиск")
                    button(type="submit").header__search
                        img(src="./assets/imgs/lookingglass.svg", alt="search")
                button.header__button Вход/Регистрация
                .header__icons
                    a.header__profile(href="#")
                        img(src="./assets/imgs/signin.svg", alt="signin")
                    a.header__favorites(href="#") 
                        img(src="./assets/imgs/like.svg", alt="favorites")

        h1.slogan Долго, дорого, богато!
        button.slogan__button КАТАЛОГ ИЗДЕЛИЙ
    .brands
        .container
            .brands__row
                .brands__img
                    img(src="./assets/imgs/cocofine.svg", alt="coco")
                .brands__img
                    img(src="./assets/imgs/cocofine.svg", alt="coco")
                .brands__img
                    img(src="./assets/imgs/cocofine.svg", alt="coco")
                .brands__img
                    img(src="./assets/imgs/cocofine.svg", alt="coco")
                .brands__img
                    img(src="./assets/imgs/cocofine.svg", alt="coco")
                .brands__img
                    img(src="./assets/imgs/cocofine.svg", alt="coco")
                   
