extends ./layout/layout

block main 
    main.main 
        include ./components/catalog 
        include ./components/salons
        include ./components/blog
        include ./components/media
        include ./components/form



      



        
        