// основной шрифт
$primary-font: "Gilroy";
// дополнительный шрифт
$secondary-font: "Noto Serif", serif;

// основной цвет текта
$primary-color: #333333;
// дополнительный цвет текта
$secondary-color: #FFFFFF;





